/*FONTS*/
@font-face {
    font-family: "Rubik Iso";
    src: url("./fonts/Rubik_Iso/RubikIso-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---*/

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-top: 70px; */
    overflow-x: hidden;
    overflow-y: auto;
}

/*HEADER + BANNER*/
h2 {
    font-family: "Rubik Iso", serif;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #f5f5f5;
}
h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #f5f5f5;
}
p {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
}

.banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* --- */


/*NAVBAR*/
.navbar {
    display: flex;
    /* height: 110px; */
    justify-content: space-around;
    align-items: center;
    background-color: #101010;
    padding: 0rem 2rem;
    font-family: "Inter", serif;
    animation: color 10s infinite ease-in-out;

}

@keyframes color {
    0% {
        background-color: #101010;
    }

    50% {
        background-color: #353535;
    }

    100% {
        background-color: #101010;
    }
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: #272727b2;
    transition: background-color 0.3s;
}

.navbar a {
    color: #f5f5f5;
    text-decoration: none;
    position: relative;
    padding: 0.5rem 0.2rem;
}

.nav-boton {
    position: relative;
    justify-content: center;
    padding-bottom: 0;
}

#artistas {
    transition: opacity 0.2s ease;
}

.nav-sublista {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */

    position: absolute;
    /* top: 100%;             
	left: 50%; */
    /* transform: translateX(-50%); */

    opacity: 0;
    pointer-events: none;
    /* padding: 0.5rem 0; */
    transition: opacity 0.2s ease;
}


.nav-sublista li a {
    white-space: nowrap;
}


.nav-boton:hover>a {
    opacity: 0;
}


.nav-boton:hover .nav-sublista {
    opacity: 1;
    pointer-events: auto;
}


/* .nav-boton:hover {
	padding-bottom: 2.5rem;
} */
/* --- */

/*ASIDE*/
aside img {
    display: block;
    color: rgb(204, 0, 255);
}

/* --- */

/*ARTISTAS*/
.artistas-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 1fr;
    gap: 0px 10%;
    grid-template-areas:
        ". . .";
    justify-content: space-around;
}

.artistas-container a div {
    width: 456px;
    height: 572px;
    border-radius: 0.5rem;
    background-color: blue;
}

#artista-lopez {
    background-color: #233460;
}

#artista-savariano {
    background-color: #415667;
}

#artista-suarez {
    background-color: #0074a2;
}

.artistas {
    text-align: center;
    margin: 2rem 0;
}

.contenido {
    color: #ffffff;
    text-align: left;
    display: none;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}

.info-artista {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.info-artista img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.texto-artista {
    flex: 1;
}

.contenido img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.2rem;
}

/*---*/

/*GALERÍA*/
.img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5e17eb;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.5rem; */
    justify-content: end;
}

/*---*/


/*TEXTO*/
.texto {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    max-height: 80px;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:
        max-height 0.5s ease,
        background-color 0.5s ease;
}


.imagenes:hover .texto {
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.897);
}


.texto h3 {
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
}


.texto p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.4s ease 0.1s;
}


.imagenes:hover .texto p {
    opacity: 1;
}

/*---*/


/*CONTACTO*/
#contacto {
    color: rgb(255, 209, 225);
    font-weight: bold;
    align-items: center;}

/*---*/

/*FOOTER*/
/* esto capaz sería más prolijo con ul y li... */
footer {
    width: 100%;
    height: 220px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    background-color: #800404;
    color: white;
}

.footer-contenido {
    text-align: right;
}

.footer-contenido p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-iconos {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    list-style-type: none;
}

.footer-iconos li img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    object-fit: contain;
    opacity: 0.8;
    transition: opacity 0.2s;
    text-decoration: none;
}

.footer-iconos img:hover {
    /* con el de github no sirve porque es negro :P */
    opacity: 1;
}
.visor {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

#img-grande {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    cursor: pointer;
}
/*---*/